<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Url</th>
            <th>Key</th>
            <th>Create At</th>
            <th>Clicks</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let employee of urlsInfo'>
            <td>{{employee.Id}}</td>
            <td>{{employee.Url}}</td>
            <td>{{employee.ShortUrl}}</td>
            <td>{{employee.CreateAt | date:'medium'}}</td>
            <td>{{employee.ClicksCount}}</td>
        </tr>
        <tr *ngIf="!urlsInfo || urlsInfo.length==0">
            <td colspan="5">
                No info to display
            </td>
        </tr>
    </tbody>
</table>