<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">https://</span>
                <input type="text" class="form-control" placeholder={{placeholderText}} [(ngModel)]='url' name="search-string">
                <span class="input-group-btn">
                    <button class="btn btn-default" (click)="onClick()">{{buttonText}}</button>
                </span>
            </div>
        </div>
    </div>
</div>